<nav>
    <div class="site-title">
      <ul>
        <% if (user) { %>
          <li>Welcome,  <%= user.email %> </li>
          <li><a href="/logout">Log out</a></li>
        <% } else { %>
          <li><a href="/login">Log in</a></li>
          <li><a href="/signup" class="btn">Sign up</a></li>
        <% } %>
      </ul>
      <a href="/"><h1>Bookish...</h1></a>
      <p>A Bookish Site</p>
    </div>
    
    
    <ul>
      <li><a href="/">Books</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/books/create">New Book</a></li>
    </ul>

  </nav>