<html lang="en">
  <%- include('./partials/head.ejs') %> 
<body>

  <%- include('./partials/nav.ejs') %>
 
  <div class="create-blog content">
<form action= "/books" method="POST">
    <label for="title">Books title:</label>
    <input type="text" id="title" name="title" required>
    <label for="author">Book snippet:</label>
    <input type="text" id="author" name="author" required>
    <label for="snippet">Book body:</label>
    <textarea id="snippet" name="snippet" required></textarea>
    <button>Submit</button>
  </form>
</div>
<%- include('./partials/footer.ejs') %>
</body>
</html>